@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');

body {
    background: #fffff6;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}


/*  TESTS */
.test {
    
    background-color: #ff0000;
}
body {
    background: #ff0000;
}
.logo {
    background-color: #007733;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px 10px 0px;
}

h1 {
    padding-left: 10px;
    font-weight: 700;
    font-size: 2em;
}
h2 {
    font-weight: 700;
    font-size: 1.2em;
}

item:before,
item:after {
	box-sizing: border-box;
}

.fall {
	/* column width */
	-moz-column-width: 19em;
	-webkit-column-width: 19em;
	
	/* space between columns */
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
}
.item img{
    width:100%;
    
}

.fall .well {
    padding: 0;
    background-color: #ff0000;
}

/* *********** own    */
.item {
	display: inline-block;
	width: 100%;
}

/* yellow dot */

.dot:before {
    content: '';
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FFFF00;
}


/*  services */ 

.services {
    height: 556px;
    position: relative;
}
.service {
    
    display: table;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, .16);
    border: 10px solid #95989A;
    padding: 0 5px 0 5px;
}



.test2 {
    position: relative;
    top: 50%;
    left: 50%;
}
.txt1, .txt2, .txt3, .txt4, .txt5, .txt6, .txt7, .txt8, .txt9, .txt10 {
    
    box-shadow: none;
    border: none;
}
.srv1, .srv6, .srv10 {
    border-radius: 50%;
}
.srv2, .srv4 {
    border-width: 5px;
}
.srv5 {
    border-width: 7px;
}

.dummytext {
    color: #cdcdcd;
    font-size: .85em;
    padding-top: 20px;
}


/* bootstrap overrides */
.container {
    background-color: #ffffff;
}

/* media */

@media only screen and (min-width: 992px) {
    .service {
        position: absolute;
    }
    .test {
        width: 200px;
    }

    /* services */
    .txt1, .txt2, .txt3, .txt4, .txt5, .txt6, .txt7, .txt8, .txt9, .txt10 {
        padding: 10px 10px 10px 10px;
    }
    .txt10 {
        padding: 20px 20px 20px 20px;
    }
    

    .srv1, .txt1 {
        width: 130px;
        height: 130px;
        bottom: 10px;
        left: 15px;
    }
    

    .srv2, .txt2 {
        width: 108px;
        height: 108px;
        bottom: 171px;
        left: 83px;
    }
    
    .srv3, .txt3 {
        width: 240px;
        height: 269px;
        bottom: 10px;
        left: 210px;
    }

    .srv4, .txt4 {
        width: 105px;
        height: 79px;
        bottom: 302px;
        left: 199px;
    }

    .srv5, .txt5 {
        width: 129px;
        height: 192px;
        bottom: 321px;
        left: 328px;
    } 
    
    .srv6, .txt6 {
        width: 130px;
        height: 130px;
        bottom: 30px;
        left: 501px;
    }

    .srv7, .txt7 {
        width: 130px;
        height: 130px;
        bottom: 181px;
        left: 495px;
    }

    .srv8, .txt8 {
        width: 138px;
        height: 226px;
        bottom: 342px;
        left: 491px;
    }
    
    .srv9, .txt9 {
        width: 180px;
        height: 180px;
        bottom: 10px;
        left: 690px;
    }

    .srv10, .txt10 {
        width: 211px;
        height: 211px;
        bottom: 259px;
        left: 647px;
    }

   
}

@media (min-width: 768px) and (max-width:991px) {
    .txt1, .txt2, .txt3, .txt4, .txt5, .txt6, .txt7, .txt8, .txt9, .txt10 {
        padding: 10px 10px 10px 10px;
    }
    .txt10 {
        padding: 20px 20px 20px 20px;
    }
    .srv1, .txt1 {
        width: 130px;
        height: 130px;
        bottom: 10px;
        left: 15px;
        float: none;
        position: absolute;
    }
    

    .srv2, .txt2 {
        width: 108px;
        height: 108px;
        bottom: 40px;
        left: 583px;
        position: absolute;
    }
    
    .srv3, .txt3 {
        width: 240px;
        height: 169px;
        bottom: 10px;
        left: 175px;
        position: absolute;
    }

    .srv4, .txt4 {
        width: 105px;
        height: 79px;
        bottom: 200px;
        left: 237px;
        position: absolute;
    }

    .srv5, .txt5 {
        width: 129px;
        height: 192px;
        bottom: 10px;
        left: 425px;
        position: absolute;
    } 
    
    .srv6, .txt6 {
        width: 130px;
        height: 130px;
        bottom: 230px;
        left: 423px;
        position: absolute;
    }

    .srv7, .txt7 {
        width: 130px;
        height: 130px;
        bottom: 180px;
        left: 570px;
        position: absolute;
    }

    .srv8, .txt8 {
        width: 138px;
        height: 226px;
        bottom: 160px;
        left: 15px;
        position: absolute;
    }
    
    .srv9, .txt9 {
        width: 180px;
        height: 180px;
        bottom: 300px;
        left: 199px;
        position: absolute;
    }

    .srv10, .txt10 {
        width: 211px;
        height: 211px;
        bottom: 340px;
        left: 480px;
        position: absolute;
    }
}

@media only screen and (max-width: 767px) {

    .txt1, .txt2, .txt3, .txt4, .txt5, .txt6, .txt7, .txt8, .txt9, .txt10 {
        padding: 10px 10px 10px 10px;
    }
    .txt10 {
        padding: 20px 20px 20px 20px;
    }
    .srv1, .srv2, .srv3, .srv4, .srv5, .srv6, .srv7, .srv8, .srv9, .srv100 {
        padding-top:20%;
        
    }

    .srv1::after, .srv2:after, .srv3:after, .srv4:after, .srv5:after, .srv6:after, .srv7:after, .srv8:after, .srv9:after, .srv100:after {
        padding:10px;
    }
    .srv2::before {
        margin: 33px;
    }
}